doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Star wars Character
  body 
    h1= character.name
    p
      strong Height:
      | #{character.height} cm
    p
      strong Mass:
      | #{character.mass} kg